body {
  margin: 0;
  background-color: black;
  position: relative;
  /* background-image: url("https://sm.ign.com/ign_ap/screenshot/default/74566473-1988645374615344-7987991914693525504-n_2dmb.jpg"); */
  /* background-size: unset; */
}
#pokemon img {
  height: 100px;
  width: 100px;
 
  /* border: 2px solid white; */
}
#pokemon
{
    position: absolute;
}
#ball
{
    display: inline-block;
    position: absolute;
    z-index: 4;
}
.ball1 
{
    display: inline-block;
    position: absolute;
    transition: opacity 2s ease-in-out;
    transition: visiblity 0.5s ease-in-out;
    /* visibility: hidden; */
    z-index: 4;
}
.ball1 img{
    height: 50px;
    width: 50px;
}
#ball img {
  height: 50px;
  width: 50px;
  /* border: 2px solid pink; */
  display: inline-block ;

}
#score-counter
{
  /* border: 2px solid red; */
  height: 10vh;
  width: 10vw;
  margin-top :85vh;
  margin-left: 90vw;
  position: absolute;
}
.white
{
  color: white;
}
.time-font
{
  font-size: 1.2rem;
}
.score-font
{
  font-size: 1.5rem;
}
